<div class="row">
  <div class="col-md-12">
    <h3>Printers</h3>
  </div>
</div>


<div class="row">
    <div class="col-md-6">
      <app-printer-filter (filter)="filterPrinters($event)"></app-printer-filter>
     </div>
     <div class="col-md-6">
    </div>
  </div> 

<div class="row">
    <div class="col-md-12">
      <table class="printer-list table table-striped">
        <thead>
          <tr>
            <th>
              Pritner name 
            </th>
            <th>
              Admin uri
            </th>
            <th>
              Is installed
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let printer of printers">
            <td>
              {{printer.name}}
            </td>
            <td>{{printer.adminUri}}</td>
            <td>{{printer.installed}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row" *ngIf="isLoading">
    <div class="col-md-12">
      Loading...
     </div>
  </div> 